.basicStyles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--text-primary);
  padding: 0.8rem 4rem;
}

.nonOutline {
  border: none;
  background-color: var(--button-green);
}

.outline {
  border: 1px solid var(--text-primary);
  background: transparent;
}

@media screen and (max-width: 532px) {
  .basicStyles {
    font-size: 0.8rem;
    padding: 0.8rem;
    width: 100%;
    gap: 0.2rem;
  }
}
