.about-extended {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  height: fit-content;
}

.about-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.3rem;
  width: 100%;
  height: auto;
}

.about-wrapper h2 {
  font-size: 1.8rem;
  color: var(--text-primary);
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.about-wrapper p {
  font-size: 1.1rem;
  color: var(--text-primary);
  text-transform: capitalize;
  font-style: italic;
  font-weight: 400;
  text-align: center;
}

.about-cards {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  width: 100%;
  height: auto;
  gap: 1.2rem;
}

.aboutSubTitle {
  font-size: 1.8rem;
  color: var(--text-primary);
  text-transform: uppercase;
  font-weight: 700;
  width: 100%;
}

.about-featured {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  height: 100%;
}

.latest-released-wrapper {
  width: 100%;
  height: 100%;
}

.featuredSwiper {
  width: 100%;
  height: 100%;
}

.featuredSwiperSlider {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.featuredSwiperSlider img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
}

.playlist-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  gap: 1rem;
}

.playlist-title-wrapper p {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 1rem;
  color: var(--text-primary);
  text-transform: capitalize;
  font-weight: 500;
  width: 100%;
}

@media only screen and (max-width: 991px) {
  .about-extended {
    gap: 2rem;
  }
  .about-featured {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: 100%;
    /* grid-template-columns: 20rem;
    height: 100%; */
  }
  .playlist-title-wrapper {
    flex-direction: column;
  }
  .playlist-title-wrapper p {
    justify-content: flex-start;
  }
}
