* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: url("./images/background-tile.webp");
}

.app {
  position: relative;
  width: 100%;
  height: 100vh;
  color: var(--text-primary);
}

.sectionContainer {
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

@media only screen and (max-width: 532px) {
  .sectionContainer {
    max-width: 532px;
    padding: 0 1rem;
  }
}

@media only screen and (min-width: 768px) {
  .sectionContainer {
    max-width: 768px;
  }
}

@media only screen and (min-width: 992px) {
  .sectionContainer {
    max-width: 992px;
  }
}

@media only screen and (min-width: 1440px) {
  .sectionContainer {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1920px) {
  .sectionContainer {
    max-width: 1600px;
  }
}

@media screen and (min-width: 2560px) {
  .sectionContainer {
    max-width: 1920px;
  }
}
