@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --background: #000000;
  --text-primary: #fdfdfd;
  --text-secondary: #383838;

  --button-purple: #9a8ff6;
  --button-orange: #f68e2f;
  --button-green: #50a584;

  --others: #1e90ff;
}

::-webkit-scrollbar {
  width: 8px;
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--text-secondary);
  border-radius: 6px;
}
